In [82]:
import pandas as pd
import random
from faker import Faker
from datetime import datetime, timedelta, date

# Initialize Faker
fake = Faker('ko_KR')

In [83]:
# Helper functions
def generate_rrn(dob, sex):
    """Generate Resident Registration Number (RRN) format based on dob and sex."""
    year = dob.year
    first_digit = 1 if sex == "M" and year < 2000 else 2 if sex == "F" and year < 2000 else 3 if sex == "M" else 4
    suffix = ''.join([str(random.randint(0, 9)) for _ in range(6)])
    return f"{dob.strftime('%y%m%d')}-{first_digit}{suffix}"

def generate_age_distribution(size):
    """Generate ages based on a normal distribution (mean 40, std dev 20, constrained to 0-80)."""
    return [min(80, max(0, int(random.gauss(40, 20)))) for _ in range(size)]

In [84]:
# 1. Create 1000 people dataset
people_data = []
age_distribution = generate_age_distribution(300)

for age in age_distribution:
    dob = datetime.today() - timedelta(days=365.25 * age)
    name = fake.name()
    sex = "M" if random.choice([True, False]) else "F"
    rrn = generate_rrn(dob, sex)
    address = fake.address()
    people_data.append({"이름": name, "주민번호": rrn, "생년월일": dob.strftime('%Y-%m-%d'), "성별": sex, "주소": address})

people_df = pd.DataFrame(people_data)

In [85]:
people_df

      이름            주민번호        생년월일 성별                         주소
0    손지은  890924-2790918  1989-09-24  F              대구광역시 도봉구 선릉길
1    박정식  990924-1256214  1999-09-24  M     전라남도 군포시 석촌호수가 (재현최최동)
2    김서영  000923-4366119  2000-09-23  F             서울특별시 서초구 봉은사가
3    최성진  650924-2668495  1965-09-24  F              전라북도 용인시 도산대로
4    서상훈  650924-1635497  1965-09-24  M  충청남도 용인시 서초대406로 (서윤이오마을)
..   ...             ...         ... ..                        ...
295  전서준  850924-2063946  1985-09-24  F                경기도 양구군 역삼로
296  최성민  010924-4412885  2001-09-24  F               울산광역시 서구 개포가
297  박도윤  730924-1060622  1973-09-24  M        충청북도 제천시 논현로 (채원최읍)
298  강혜진  510924-1038271  1951-09-24  M   세종특별자치시 노원구 언주90로 (현준한읍)
299  이예지  730924-2848893  1973-09-24  F     부산광역시 서대문구 테헤란길 (경수홍면)

[300 rows x 5 columns]

In [86]:
# 병원 데이터에 주소 및 직원 수 추가
hospital_data = []

# 수정된 직종 리스트
job_types = {
    '의사': (1, 10),
    '간호사': (1, 30),
    '행정 직원': (0, 5),
    '물리치료사': (0, 30),
    '방사선사': (0, 5)
}

for _ in range(100):
    hospital_id = str(random.choice([1, 2, 3])) + ''.join([str(random.randint(0, 9)) for _ in range(7)])
    hospital_name = fake.company() + "병원"
    doctor = fake.name()
    license_no = ''.join([str(random.randint(0, 9)) for _ in range(5)])
    address = fake.address()

    # 직원 수를 직종별로 지정된 범위에 맞게 임의로 생성
    staff_count = {job: random.randint(range_[0], range_[1]) for job, range_ in job_types.items()}
    
    hospital_data.append({
        "요양기관기호": hospital_id,
        "병원이름": hospital_name,
        "의사": doctor,
        "면허번호": license_no,
        "주소": address,
        "의사 수": staff_count['의사'],
        "간호사 수": staff_count['간호사'],
        "행정 직원 수": staff_count['행정 직원'],
        "물리치료사 수": staff_count['물리치료사'],
        "방사선사 수": staff_count['방사선사']
    })

hospital_df = pd.DataFrame(hospital_data)

hospital_df

,요양기관기호,병원이름,의사,면허번호,주소,의사 수,간호사 수,행정 직원 수,물리치료사 수,방사선사 수
0,29779167,(유) 김병원,류순자,91908,세종특별자치시 서구 봉은사550길,9,17,3,3,3
1,24259773,(주) 이최김병원,김영희,58900,경상남도 단양군 양재천길,8,4,3,15,3
2,23634673,김김이병원,이영길,37694,충청남도 광주시 영동대로 (영환이면),4,12,0,5,0
3,30890242,주식회사 김병원,류상훈,83427,대구광역시 동구 양재천길,7,7,4,16,2
4,17850480,주식회사 이이김병원,오지은,10372,전라남도 안산시 상록구 영동대가 (아름최읍),8,29,4,22,3
...,...,...,...,...,...,...,...,...,...,...
95,37617862,(주) 배송김병원,오주원,65536,경상남도 과천시 언주길 (성훈오홍읍),7,15,1,28,3
96,32360684,(주) 이병원,오경수,13142,충청남도 청양군 영동대거리,2,7,4,12,5
97,12189280,권손배병원,박준영,86768,인천광역시 서대문구 가락거리 (영호김읍),10,11,1,10,2
98,38116308,유한회사 전병원,김영길,85000,경기도 홍천군 봉은사538로,8,3,0,15,2
99,15742508,김안병원,김재호,16536,전라북도 청양군 학동7길,3,2,2,12,2

In [87]:
# 실제 병명 리스트
disease_names = [
    "고혈압", "당뇨병", "천식", "기관지염", "폐렴", "결핵", "알츠하이머병", "파킨슨병", 
    "간경변", "심부전", "협심증", "심근경색", "뇌졸중", "류마티스 관절염", "골다공증", 
    "신부전", "위염", "식도염", "간염", "췌장염", "맹장염", "갑상선암", "대장암", 
    "폐암", "위암", "간암", "유방암", "전립선암", "백혈병", "악성 림프종"
]

# 병명 코드 생성 및 데이터프레임 생성
disease_data = []

for name in disease_names:
    disease_code = ''.join(random.choices('ABCDEFGHIJKLMNOPQRSTUVWXYZ', k=2)) + ''.join([str(random.randint(0, 9)) for _ in range(6)])
    disease_data.append({"병명코드": disease_code, "병명": name})

disease_df = pd.DataFrame(disease_data)

# Display the generated disease dataset
disease_df

        병명코드        병명
0   MW510006       고혈압
1   FY072196       당뇨병
2   IV815605        천식
3   VE824665      기관지염
4   WZ383794        폐렴
5   TF244363        결핵
6   ZM653921    알츠하이머병
7   SI033180      파킨슨병
8   FO539167       간경변
9   NA310640       심부전
10  OU299105       협심증
11  WX688551      심근경색
12  CS061353       뇌졸중
13  FI277599  류마티스 관절염
14  TR471392      골다공증
15  SG977307       신부전
16  VG150459        위염
17  NP951375       식도염
18  OI942965        간염
19  MB728028       췌장염
20  HZ821903       맹장염
21  ID709345      갑상선암
22  GG412465       대장암
23  OW321285        폐암
24  FP208641        위암
25  SR868470        간암
26  RD982068       유방암
27  DS151820      전립선암
28  YD906843       백혈병
29  MD644985    악성 림프종

In [88]:
# 먼저 1000명의 사람 중 일부가 병원을 방문하지 않도록 설정 (예: 20%는 방문하지 않음)
num_non_visitors = int(len(people_data) * 0.2)  # 전체 인구의 20%는 병원을 방문하지 않음
non_visitors = random.sample(people_data, num_non_visitors)

# 병원 방문 데이터를 만들 때 non_visitors에 포함된 사람들은 제외
visit_data = []

for _ in range(3000):
    patient = random.choice([p for p in people_data if p not in non_visitors])  # 병원 방문하지 않는 사람은 제외
    visit_date = fake.date_between_dates(date_start=date(2020, 1, 1), date_end=date(2024, 12, 31))
    hospital = random.choice(hospital_data)
    disease = random.choice(disease_data)
    treatment_cost = random.randint(1000, 500000) // 10000 * 10000  # 10,000 단위로 반올림
    visit_data.append({
        "진료일자": visit_date.strftime('%Y-%m-%d'),
        "주민번호": patient["주민번호"],
        "요양기관기호": hospital["요양기관기호"],
        "병명코드": disease["병명코드"],
        "진료비": treatment_cost
    })

visit_df = pd.DataFrame(visit_data)
visit_df

            진료일자            주민번호    요양기관기호      병명코드     진료비
0     2022-05-19  600923-2436130  24783278  SR868470  340000
1     2022-04-13  730924-2848893  27643140  TF244363  460000
2     2022-07-03  070924-3517526  19385500  IV815605  440000
3     2021-02-07  730924-1397414  29623568  MW510006  310000
4     2020-11-19  750924-2247494  26061768  ID709345  310000
...          ...             ...       ...       ...     ...
2995  2022-04-14  140924-3619479  17135290  ZM653921   50000
2996  2024-11-18  910924-1963129  28915603  HZ821903  480000
2997  2023-06-22  950924-2827978  31939156  SG977307  340000
2998  2020-07-29  050924-4577909  14914413  FP208641   40000
2999  2024-12-03  070924-3517526  29756878  VG150459   90000

[3000 rows x 5 columns]

In [89]:

# Save to Excel
with pd.ExcelWriter("./data/fake_hospital_data.xlsx") as writer:
    people_df.to_excel(writer, sheet_name="People", index=False)
    hospital_df.to_excel(writer, sheet_name="Hospitals", index=False)
    disease_df.to_excel(writer, sheet_name="Diseases", index=False)
    visit_df.to_excel(writer, sheet_name="Visits", index=False)

In [90]:
people_df.to_excel('test.xlsx')

In [91]:
visit_summary = visit_df.groupby("주민번호").agg(
    총진료비=("진료비", "sum"),
    평균진료비=("진료비", "mean"),
    진료일수=("진료일자", "count"),
    내원병원수=("요양기관기호", "nunique"),
    최초내원일자=("진료일자", "min"),
    최종내원일자=("진료일자", "max")
).reset_index()
visit_summary

,주민번호,총진료비,평균진료비,진료일수,내원병원수,최초내원일자,최종내원일자
0,000923-4366119,2880000,240000.000000,12,12,2020-02-05,2024-03-24
1,000923-4486589,2700000,270000.000000,10,9,2020-04-28,2024-12-15
2,000923-4567446,2070000,230000.000000,9,9,2020-01-31,2023-06-22
3,000923-4882878,1120000,140000.000000,8,8,2020-08-21,2024-12-21
4,000923-4897416,2650000,189285.714286,14,14,2020-01-22,2024-08-26
...,...,...,...,...,...,...,...
235,980924-2692288,3310000,220666.666667,15,14,2020-02-19,2023-10-14
236,990924-1026747,2610000,200769.230769,13,11,2020-02-06,2023-11-23
237,990924-1049700,2470000,247000.000000,10,9,2020-11-06,2024-08-13
238,990924-1256214,2380000,198333.333333,12,12,2020-09-29,2024-05-28
239,990924-2253910,3060000,340000.000000,9,9,2020-10-07,2024-09-09

In [92]:
visit_summary.진료일수.max(), visit_summary.진료일수.min(), visit_summary.진료일수.std()

(22, 5, 3.2419839991964836)

In [93]:
# Find people who have never visited a hospital by comparing the people list with the visit data
visited_people_rrns = set(visit_df["주민번호"].unique())
all_people_rrns = set(people_df["주민번호"].unique())

# People who have never visited a hospital
never_visited_rrns = all_people_rrns - visited_people_rrns
never_visited_people = people_df[people_df["주민번호"].isin(never_visited_rrns)]
never_visited_people

      이름            주민번호        생년월일 성별                             주소
14   김서연  880923-2975396  1988-09-23  F               전라남도 양주시 반포대32거리
17   김영식  990924-2976872  1999-09-24  F                울산광역시 금천구 삼성65로
18   진서영  610924-2813107  1961-09-24  F                  울산광역시 강남구 역삼가
28   김영환  440923-2004790  1944-09-23  F        충청남도 수원시 장안구 삼성가 (서윤김면)
42   구영미  580924-1077339  1958-09-24  M        대전광역시 서대문구 가락13가 (지영김읍)
45   장중수  100924-4018689  2010-09-24  F          부산광역시 은평구 테헤란로 (은영류면)
54   최성진  810924-2707516  1981-09-24  F         서울특별시 강서구 오금거리 (지훈김김리)
55   최순옥  090924-3237285  2009-09-24  M     서울특별시 금천구 서초중앙628길 (종수유오동)
64   윤현숙  870924-1879409  1987-09-24  M                서울특별시 강남구 서초대거리
72   홍영자  700924-1904398  1970-09-24  M         경기도 당진시 서초대08가 (영순이안면)
75   박은지  800923-1362809  1980-09-23  M                   경기도 제천시 역삼거리
76   조지영  020924-4357794  2002-09-24  F                 전라북도 광주시 서초중앙가
82   류옥자  910924-2321557  1991-09-24  F                 대구광역시 강서구 양재천가
83   이영수  170924-3842978  2017-09-24  M         전라남도 양양군 영동대1가 (상현최우읍)
96   김예은  800923-2563760  1980-09-23  F      대전광역시 구로구 오금941길 (은경장김마을)
103  최은지  940924-2743865  1994-09-24  F                  인천광역시 북구 삼성거리
105  엄성훈  910924-1099936  1991-09-24  M             전라남도 고양시 덕양구 서초중앙가
116  민지현  840923-1629415  1984-09-23  M            전라북도 부천시 소사구 삼성301길
120  최상호  180924-4741242  2018-09-24  F                 강원도 안산시 삼성396로
121  이하은  570924-1289345  1957-09-24  M               경상남도 진천군 역삼500거리
126  김성민  140924-4080487  2014-09-24  F          충청북도 강릉시 학동거리 (경희김마을)
130  김승현  870924-2012659  1987-09-24  F    서울특별시 동대문구 영동대50거리 (상훈박엄마을)
141  김현숙  440923-2449793  1944-09-23  F        제주특별자치도 이천시 학동길 (성훈신이리)
142  우서연  850924-1403863  1985-09-24  M       광주광역시 은평구 석촌호수18길 (지후이면)
150  안우진  840923-1457307  1984-09-23  M           경상북도 안양시 오금길 (지민지이읍)
156  이수빈  840923-1999700  1984-09-23  M                서울특별시 관악구 봉은사거리
160  박지영  770924-2673957  1977-09-24  F          서울특별시 동작구 잠실로 (채원안박동)
173  송수빈  830924-2005547  1983-09-24  F                인천광역시 강동구 압구정거리
176  임춘자  750924-2493566  1975-09-24  F            경상남도 부천시 원미구 도산대47길
180  고정자  830924-1275065  1983-09-24  M                  경기도 보령시 압구정거리
185  이영숙  440923-2046411  1944-09-23  F           대구광역시 남구 강남대로 (지연김읍)
187  김성진  940924-1919575  1994-09-24  M      서울특별시 강동구 서초중앙9거리 (수빈김이읍)
188  정건우  560923-2324651  1956-09-23  F                   경상북도 고양시 언주길
193  이정웅  040923-3866715  2004-09-23  M     경상남도 고양시 일산서구 반포대거리 (지원류리)
198  이경자  440923-2411527  1944-09-23  F       인천광역시 관악구 서초중앙거리 (동현이김동)
199  김예은  240923-4497535  2024-09-23  F      제주특별자치도 김포시 논현487가 (정자박리)
204  박진우  810924-1585868  1981-09-24  M          충청남도 논산시 압구정6로 (정수강동)
208  오건우  910924-2639787  1991-09-24  F      세종특별자치시 강북구 석촌호수가 (시우배권읍)
209  최병철  760923-2102911  1976-09-23  F           전라남도 동두천시 학동길 (영철이리)
216  이서영  060924-4211197  2006-09-24  F                   경상북도 안산시 가락길
217  백옥자  240923-3012642  2024-09-23  M         경기도 괴산군 반포대5거리 (채원김박읍)
219  홍보람  770924-1133479  1977-09-24  M      충청북도 보은군 백제고분976가 (수진김최리)
223  김정희  680923-1162469  1968-09-23  M            제주특별자치도 의왕시 도산대677길
228  홍정호  650924-1415908  1965-09-24  M         강원도 고양시 덕양구 오금가 (성수조동)
231  박서윤  590924-1912536  1959-09-24  M        충청남도 증평군 테헤란20로 (현숙임최리)
235  박서윤  240923-3926084  2024-09-23  M                 서울특별시 양천구 논현3가
241  박예지  800923-1407613  1980-09-23  M                 대전광역시 도봉구 역삼거리
243  박민수  010924-3850517  2001-09-24  M           경상북도 양주시 압구정로 (진우김동)
246  윤민준  930924-2830874  1993-09-24  F   경상남도 용인시 수지구 개포365거리 (준영노박동)
250  이승민  500924-2308733  1950-09-24  F  제주특별자치도 수원시 팔달구 봉은사9가 (영길김마을)
254  김상호  000923-3469842  2000-09-23  M       경상북도 의왕시 서초대055거리 (하은윤읍)
256  박우진  660924-2310536  1966-09-24  F         인천광역시 성북구 테헤란가 (서현백구리)
260  이예은  130924-4997506  2013-09-24  F            세종특별자치시 동작구 서초중앙37길
268  최아름  890924-2604974  1989-09-24  F          충청남도 당진시 삼성거리 (보람이김읍)
270  윤현우  740924-1757157  1974-09-24  M          대구광역시 관악구 테헤란길 (준호김리)
271  나시우  890924-1678142  1989-09-24  M       충청북도 청주시 상당구 역삼거리 (지현이읍)
284  이영호  760923-2017281  1976-09-23  F         인천광역시 동구 양재천가 (서연이김마을)
289  조정호  930924-2861199  1993-09-24  F           대전광역시 중구 영동대로 (서영박읍)
293  고정웅  690924-1896930  1969-09-24  M       울산광역시 은평구 도산대49가 (윤서이김읍)
295  전서준  850924-2063946  1985-09-24  F                    경기도 양구군 역삼로

In [94]:
# Extracting year and month from the visit date to use for aggregation
visit_df["연도"] = pd.to_datetime(visit_df["진료일자"]).dt.year
#visit_df["월"] = pd.to_datetime(visit_df["진료일자"]).dt.month

# Aggregating by hospital (요양기관기호), hospital name, year, and month
#hospital_summary = visit_df.groupby(["요양기관기호", "연도", "월"]).agg(
hospital_summary = visit_df.groupby(["요양기관기호", "연도"]).agg(
    방문인원=("주민번호", lambda x: x.nunique()),  # Unique patient count
    진료비총액=("진료비", "sum"),  # Total treatment cost
    진료병명종류=("병명코드", "nunique")  # Unique disease count
).reset_index()

# Adding hospital names by merging with the hospital dataframe
hospital_summary = pd.merge(hospital_summary, hospital_df[["요양기관기호", "병원이름"]], on="요양기관기호", how="left")

# Reordering columns for better readability
#hospital_summary = hospital_summary[["요양기관기호", "병원이름", "연도", "월", "방문인원", "진료비총액", "진료병명종류"]]
hospital_summary = hospital_summary[["요양기관기호", "병원이름", "연도", "방문인원", "진료비총액", "진료병명종류"]]


# Pivoting the data so that year and month become the columns, and each row represents a hospital
hospital_summary_pivot = hospital_summary.pivot_table(
    index=["요양기관기호", "병원이름"],
    columns=["연도"],
    values=["방문인원", "진료비총액", "진료병명종류"],
    aggfunc="sum"
)

# Flattening the column names for easier readability after pivoting
hospital_summary_pivot.columns = [f'{col[0]}_{col[1]}' for col in hospital_summary_pivot.columns]

# Resetting index to make the output more readable
hospital_summary_pivot.reset_index(inplace=True)
hospital_summary_pivot

,요양기관기호,병원이름,방문인원_2020,방문인원_2021,방문인원_2022,방문인원_2023,방문인원_2024,진료병명종류_2020,진료병명종류_2021,진료병명종류_2022,진료병명종류_2023,진료병명종류_2024,진료비총액_2020,진료비총액_2021,진료비총액_2022,진료비총액_2023,진료비총액_2024
0,10039659,주식회사 류이우병원,7.0,3.0,4.0,4.0,4.0,7.0,3.0,3.0,4.0,4.0,1040000.0,560000.0,1350000.0,1090000.0,1020000.0
1,10502084,(주) 권병원,7.0,9.0,4.0,4.0,5.0,5.0,8.0,4.0,4.0,5.0,2650000.0,2340000.0,770000.0,1100000.0,1430000.0
2,10815376,김민김병원,4.0,8.0,3.0,4.0,4.0,3.0,7.0,3.0,4.0,3.0,1040000.0,1880000.0,1060000.0,970000.0,1400000.0
3,10823075,유한회사 엄최이병원,7.0,8.0,4.0,12.0,NaN,7.0,6.0,3.0,9.0,NaN,1690000.0,2440000.0,1050000.0,3680000.0,NaN
4,11051510,김문김병원,6.0,1.0,7.0,5.0,5.0,6.0,1.0,7.0,5.0,4.0,1690000.0,270000.0,2220000.0,1460000.0,1270000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,38687258,박문병원,7.0,6.0,5.0,6.0,6.0,7.0,6.0,5.0,6.0,6.0,1700000.0,2190000.0,1060000.0,1550000.0,1430000.0
96,39324705,박황곽병원,2.0,6.0,10.0,2.0,7.0,2.0,6.0,9.0,2.0,7.0,500000.0,1580000.0,1970000.0,650000.0,1980000.0
97,39349156,조이병원,6.0,5.0,7.0,6.0,8.0,6.0,5.0,7.0,6.0,7.0,1900000.0,880000.0,1480000.0,1070000.0,1790000.0
98,39467360,주식회사 박병원,7.0,6.0,6.0,5.0,6.0,6.0,6.0,6.0,5.0,6.0,1020000.0,2040000.0,840000.0,1120000.0,1010000.0
99,39939674,오박김병원,6.0,6.0,3.0,8.0,4.0,7.0,5.0,3.0,8.0,3.0,2210000.0,880000.0,590000.0,2030000.0,800000.0

In [95]:
# 먼저 visit_df에 병원이름을 병합합니다
visit_df = pd.merge(visit_df, hospital_df[["요양기관기호", "병원이름"]], on="요양기관기호", how="left")

# 연도별 집계 수행
hospital_summary_yearly = visit_df.groupby(["요양기관기호", "병원이름", "연도"]).agg(
    방문인원=("주민번호", lambda x: x.nunique()),  # Unique patient count
    진료비총액=("진료비", "sum"),  # Total treatment cost
    진료병명종류=("병명코드", "nunique")  # Unique disease count
).reset_index()

# Pivoting the table to have one row per hospital and columns for each year with the required data
hospital_summary_yearly_pivot = hospital_summary_yearly.pivot_table(
    index=["요양기관기호", "병원이름"],
    columns="연도",
    values=["방문인원", "진료비총액", "진료병명종류"],
    aggfunc="sum"
)

# Flattening the column names and reordering them as requested
hospital_summary_yearly_pivot.columns = [f'{col[1]}_{col[0]}' for col in hospital_summary_yearly_pivot.columns]
ordered_columns = sorted(hospital_summary_yearly_pivot.columns, key=lambda x: (x.split('_')[0], x.split('_')[1]))

hospital_summary_yearly_pivot = hospital_summary_yearly_pivot[ordered_columns].reset_index()
hospital_summary_yearly_pivot

,요양기관기호,병원이름,2020_방문인원,2020_진료병명종류,2020_진료비총액,2021_방문인원,2021_진료병명종류,2021_진료비총액,2022_방문인원,2022_진료병명종류,2022_진료비총액,2023_방문인원,2023_진료병명종류,2023_진료비총액,2024_방문인원,2024_진료병명종류,2024_진료비총액
0,10039659,주식회사 류이우병원,7.0,7.0,1040000.0,3.0,3.0,560000.0,4.0,3.0,1350000.0,4.0,4.0,1090000.0,4.0,4.0,1020000.0
1,10502084,(주) 권병원,7.0,5.0,2650000.0,9.0,8.0,2340000.0,4.0,4.0,770000.0,4.0,4.0,1100000.0,5.0,5.0,1430000.0
2,10815376,김민김병원,4.0,3.0,1040000.0,8.0,7.0,1880000.0,3.0,3.0,1060000.0,4.0,4.0,970000.0,4.0,3.0,1400000.0
3,10823075,유한회사 엄최이병원,7.0,7.0,1690000.0,8.0,6.0,2440000.0,4.0,3.0,1050000.0,12.0,9.0,3680000.0,NaN,NaN,NaN
4,11051510,김문김병원,6.0,6.0,1690000.0,1.0,1.0,270000.0,7.0,7.0,2220000.0,5.0,5.0,1460000.0,5.0,4.0,1270000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,38687258,박문병원,7.0,7.0,1700000.0,6.0,6.0,2190000.0,5.0,5.0,1060000.0,6.0,6.0,1550000.0,6.0,6.0,1430000.0
96,39324705,박황곽병원,2.0,2.0,500000.0,6.0,6.0,1580000.0,10.0,9.0,1970000.0,2.0,2.0,650000.0,7.0,7.0,1980000.0
97,39349156,조이병원,6.0,6.0,1900000.0,5.0,5.0,880000.0,7.0,7.0,1480000.0,6.0,6.0,1070000.0,8.0,7.0,1790000.0
98,39467360,주식회사 박병원,7.0,6.0,1020000.0,6.0,6.0,2040000.0,6.0,6.0,840000.0,5.0,5.0,1120000.0,6.0,6.0,1010000.0
99,39939674,오박김병원,6.0,7.0,2210000.0,6.0,5.0,880000.0,3.0,3.0,590000.0,8.0,8.0,2030000.0,4.0,3.0,800000.0

In [96]:
# Step 1: Calculate the total treatment cost per person
person_treatment_cost = visit_df.groupby("주민번호").agg(총진료비=("진료비", "sum")).reset_index()

# Step 2: Identify the top 10% of people by treatment cost
top_10_percent_cutoff = person_treatment_cost["총진료비"].quantile(0.9)
top_10_percent_people = person_treatment_cost[person_treatment_cost["총진료비"] >= top_10_percent_cutoff]

# Step 3: Merge the top 10% people data with the full people data
top_10_percent_people_data = pd.merge(top_10_percent_people, people_df, on="주민번호", how="left")

# Step 4: Identify the hospitals used by these top 10% people
top_10_percent_visits = visit_df[visit_df["주민번호"].isin(top_10_percent_people["주민번호"])]

# Step 5: Calculate the total treatment cost per hospital for these visits
hospital_treatment_cost = top_10_percent_visits.groupby("요양기관기호").agg(총진료비=("진료비", "sum")).reset_index()

# Step 6: Identify the top 10% of hospitals by treatment cost
hospital_top_10_percent_cutoff = hospital_treatment_cost["총진료비"].quantile(0.9)
top_10_percent_hospitals = hospital_treatment_cost[hospital_treatment_cost["총진료비"] >= hospital_top_10_percent_cutoff]

# Step 7: Merge the top 10% hospital data with hospital information
top_10_percent_hospital_data = pd.merge(top_10_percent_hospitals, hospital_df, on="요양기관기호", how="left")

In [97]:
top_10_percent_people_data.sort_values('총진료비', ascending=False)

,주민번호,총진료비,이름,생년월일,성별,주소
12,710924-1932733,6260000,안도현,1971-09-24,M,경기도 수원시 영동대92가
15,760923-1165867,6070000,김종수,1976-09-23,M,제주특별자치도 청주시 서원구 잠실477로 (정남윤최동)
7,620924-1611767,5340000,박춘자,1962-09-24,M,제주특별자치도 논산시 양재천거리
11,680923-2262909,5340000,김민수,1968-09-23,F,인천광역시 성북구 테헤란86길 (수빈김마을)
18,820924-2015859,5200000,김정자,1982-09-24,F,대구광역시 서대문구 석촌호수거리 (옥자조이마을)
22,950924-1905054,5170000,이지현,1995-09-24,M,충청남도 양주시 오금6가 (영일박박면)
3,090924-4095689,5150000,박승현,2009-09-24,F,전라남도 부천시 압구정로 (서연이김리)
5,570924-1427569,5030000,지정자,1957-09-24,M,충청북도 보은군 가락거리
17,810924-1742192,4990000,노정호,1981-09-24,M,광주광역시 강서구 잠실가
16,780924-2801999,4960000,허주원,1978-09-24,F,제주특별자치도 동해시 반포대길
19,850924-1318799,4950000,송승민,1985-09-24,M,서울특별시 양천구 테헤란991로 (예준권박읍)
2,070924-3836107,4910000,김예은,2007-09-24,M,경상남도 청양군 봉은사거리 (지후최리)
1,070924-3783232,4910000,박지후,2007-09-24,M,광주광역시 동작구 개포3길
20,880923-1065986,4890000,곽병철,1988-09-23,M,전라북도 홍성군 봉은사054거리
4,480923-2593551,4770000,노시우,1948-09-23,F,세종특별자치시 양천구 강남대6로 (예지김강면)
0,020924-4405998,4730000,김선영,2002-09-24,F,충청남도 음성군 언주로 (영순윤면)
21,930924-2096278,4620000,김영순,1993-09-24,F,세종특별자치시 성북구 서초중앙길
14,750924-2247494,4570000,정미경,1975-09-24,F,경상남도 청주시 서원구 개포거리 (경숙김황마을)
10,680923-1615210,4480000,송도윤,1968-09-23,M,서울특별시 동작구 역삼로 (영환차마을)
9,680923-1052812,4480000,윤숙자,1968-09-23,M,경기도 파주시 오금가
13,740924-1711304,4470000,송영진,1974-09-24,M,대구광역시 강북구 테헤란길
8,650924-1635497,4440000,서상훈,1965-09-24,M,충청남도 용인시 서초대406로 (서윤이오마을)
6,580924-1540740,4370000,최준호,1958-09-24,M,강원도 수원시 팔달구 삼성가
23,950924-2827978,4360000,박윤서,1995-09-24,F,제주특별자치도 용인시 수지구 테헤란로

In [98]:
sample_df = pd.DataFrame(
                {"a" : [4 ,5, 6],
                "b" : [7, 8, 9],
                "c" : [10, 11, 12]},
            index = pd.MultiIndex.from_tuples(
                    [('d', 1), ('d', 2),
                    ('e', 2)], names=['n', 'v']))